[submodule "category_production"]
	path = framework/category_production
	url = git@github.com:emcoglab/category_production.git
[submodule "cognitive-model"]
	path = framework/cognitive_model
	url = git@github.com:emcoglab/cognitive-model.git
