[submodule "category_production"]
	path = category_production
	url = git@github.com:emcoglab/category_production.git
[submodule "cognitive-model"]
	path = model
	url = git@github.com:emcoglab/cognitive-model.git
